link(rel="stylesheet", href="/stylesheets/message.css")

.errors
    - if(typeof errors != 'undefined'){
        - errors.forEach(function(errors){
            .dismiss
                i.fa.fa-exclamation-triangle.error-icon
                | #{errors.msg}
                
        - });
    - }