extends ../layout
block styles
    link(rel="stylesheet", href="/stylesheets/message-pay.css")
block content
    .massage
        h1.title.success  
            i.fa.fa-check-circle.icon   
            | پرداخت با موفقیت انجام شد
        .item نام و نام خانوادگی: #{payment.fullname}
        .item کد پیگیری: #{payed.track_id}
        .item مبلغ: #{payed.amount}
        .item توضیحات: #{payment.description}
        
        p.text از اعتماد شما سپاس گزاریم.
        a.link(href="/dashboard") 
            i.fa.fa-chevron-left.icon
            | رفتن به پنل کاربری   
