.sidebar#sidebar
    .card
        a(href="/dashboard")
            .acount-link
                .picture-pad
                    i.fa.fa-user.acound-icon
                h1.card-uname= user.username
                h1.card-phone= user.phone
        .link-border
        a(href="#")
            .wallet-pad
                .wallet کیف پول
                .increase افزایش موجودی
                    i.fa.fa-angle-left.enter-icon
                .toranj ۰ ترنج
        .link-border
        a.card-link.logoutbtn(href="/user/logout")
            i.fa.fa-sign-out.card-icon
            | خروج از حساب کاربری
    .acount
        h1.acount-header حساب کاربری
        a.acount-link(href="/dashboard")
            i.fa.fa-user.link-icon
            | پروفایل من
        .link-border
        a.acount-link(href="/order/information")
            i.fa.fa-plus.link-icon
            | درخواست ترجمه
        .link-border
        a.acount-link(href="/")
            i.fa.fa-shopping-cart.link-icon
            | همه سفارش ها
        .link-border
        a.acount-link(href="/dashboard/payments")
            i.fa.fa-credit-card.link-icon
            | صورت حساب ها
        .link-border
        a.acount-link(href="/")
            i.fa.fa-bell.link-icon
            | گزارش تخلف
        .link-border
        a.acount-link(href="/dashboard/edit-profile")
            i.fa.fa-edit.link-icon
            | ویرایش اطلاعات
        .link-border
        -if(user.role == 'admin'){
            a.acount-link(href="/dashboard/offcode")
                i.fa.fa-gift.link-icon
                | کدهای تخفیف و هدیه
            .link-border
            a.acount-link(href="/dashboard/translators")
                i.fa.fa-users.link-icon
                | مترجمان
            .link-border
            
        -}
        a.acount-link(href="/dashboard/ticket")
            i.fa.fa-comments.link-icon
            | تیکت
            -if(active){
                -if(active.ticket){
                    .active-link
                -}
            -}
        .link-border

.slide-modal#slide-modal
.slide-toggle#slide-toggle
    button.slide-toggler#slide-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-list-ul