extends layout
block styles
    link(rel="stylesheet", href="stylesheets/about.css")
block content
    .about-content
        .right-content
            .text
                h1 درباره شاتر ...
                p استارتاپ شاتر (شبکه ارتباطی ترجمه) از مهر ماه سال ۹۷ شروع به کار کرد. ماجرا از اینجا شروع شد که میدیدیم خیلی از افراد دنبال مترجم میگردن اما به هر دلیلی (عدم دسترسی به مترجم خوب، قیمت بالای دارالترجمه‌ها، عدم اعتماد و نبود ضمانت و...) نمیتونستن کارشون رو انجام بدن. از طرفی یه عالمه مترجم خوب و با استعداد جویای کار هستن و میتونن از مهارتشون کسب درآمد کنن اما محیطی امن که براشون این بستر رو فراهم کنه و از طرفی به دنبال بهره کشی غیر منصفانه هم نباشه در اختیارشون نیست. شاتر با هدف کارآفرینی برای مترجما و رفع نیاز متقاضیان ترجمه به میدون اومد تا متقاضیان دیگه دغدغه کیفیت، قیمت و ضمانت تحویل رو نداشته باشن و مترجم ها هم دیگه نگران کاریابی نباشن.
                a(href="/order/register") اگه به ترجمه نیاز داری اینجا کلیک کن
                a(href="/user/translator-register") اگه مترجمی و دوست داری کنارمون مشغول به کار بشی اینجا کلیک کن
                a(href="https://instagram.com/shutterco_") اگه دوست داری اینستاگراممون رو داشتی باشی اینجا کلیک کن
            img(src="/images/index/shutter.png")
        .persons-area
            .right-line
            .left-line
            
            .person.center
                .text
                    h1 بهزاد نعمتی، مدیر و بنیانگذار
                    p  یه روز به خودم اومدم و گفتم که چرا مترجم‌ها نمی‌تونن به راحتی کار پیدا کنن... اونایی هم که کار پیدا می‌کنن درصد قابل توجهی از دستمزدشون، مال خودشون نیست. به خودم قول دادم این شرایط رو درست کنم و بعد با همراهی یه تیم فوق‌العاده شاتر متولد شد.
                    .email
                        i.fa.fa-envelope
                        | 
                img(src="/images/behzad.jpg")
            .person.right
                .text
                    h1 سارا صالحی، سردبیر و مسول محتوا
                    p اگه یکی بخواد درباره من صحبت کنه و اسمم یادش رفته باشه، مطمئنم این کلمات رو در وصفم ایراد می‌کنه: همون خانوم انرژی مثبته که عاشق و شیدای کتابه و هیچ‌وقت بدون خنده نمی‌بینیش....
                        br
                        | من اون دختری بودم که یه عمر آرزو داشت آجر روی آجر بذاره و فضاهای دل‌انگیزی برای بقیه ایجاد کنه. اما دست تقدیر، از صندلی رشته معماری دانشگاه تهران جنوب، پرتم کرد به دانشگاه بین‌المللی امام خمینی و رشته مترجمی زبان انگلیسی تا عوض آجر، کلمات رو کنار هم قرار بدم. و برای کسی که عاشق واژه‌هاست، چه تقدیری شیرین‌تر و بهتر از این؟!؟ مخصوصا اگه از رهگذر این سرنوشت، "شاتر" متولد شده باشه...
                    .email
                        i.fa.fa-envelope
                        | 
                img(src="/images/sara.jpg")
            .person.left
                .text
                    h1 فرحان دائمی
                    p 
                        | از وقتی ۹ سالم بود برنامه نویسی رو شروع کردم و اون موقع با میکروکنترلر ها و پردازنده های کوچیک کار می کردم. برنامه نویسی انقدر برام جذاب بود که هر لحظه و هر جا داشتم یه چیز جدید یاد می گرفتم. تا اینکه یه روز شاتر رو پیدا کردم.
                        | از این که در کنار تیم خوب شاتر برای مردم کارآفرینی می کنم خیلی خوش حالم و امیدوارم روزی برسه که هیچ مترجمی تو کشورمون بی کار نباشه.
                    .email
                        i.fa.fa-envelope 
                        | fdmxfarhan@yahoo.com 
                img(src="/images/farhan.jpg")
            

