doctype html

html
  head
    title شبکه ارتباطی ترجمه
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block styles
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- script(src="/font.js" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel = "icon" type = "image/png" href = "/images/logo.png")
    script(src="/javascripts/jquery-1.6.4.min.js")
    script(src="/javascripts/layout.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#4400ff")
    
  body
    a(href="/")
      .shutterheader
        img(src="/images/header.png")
    a(href="/")
      .topnavlogo
        img(src="/images/logo.png")
    -if(user){
      .dropdown#dropdownuser
        a(href="/dashboard")
          .acount-link
            .picture-pad
              i.fa.fa-user.acound-icon
            h1.uname= user.username
            h1.enter-panel ورود به پنل کاربری
              i.fa.fa-chevron-left.enter-icon
        .link-border
        a.dropdown-link(href="/dashboard")
          i.fa.fa-tags.icon
          | سفارش های من
        .link-border
        a.dropdown-link(href="/order/information")
          i.fa.fa-language.icon
          | ثبت سفارش
        .link-border
        a.dropdown-link(href="#")
          i.fa.fa-cog.icon
          | تنظیمات حساب
        .link-border
        a.dropdown-link.logoutbtn(href="/user/logout")
          i.fa.fa-sign-out.icon
          | خروج
    -}
    //- Begin translation panel
    
    nav
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-list-ul
      #navbarSupportedContent.collapse
        a.nav-link#link1.active(href='/') صفحه اصلی
        a.nav-link#link2(href='/blog/home') بلاگ
        a.nav-link#link3(href='/order/register') ثبت سفارش
        a.nav-link#link4(href='/about') درباره ما
        a.nav-link#link5(href='/contact') تماس با ما
      -if(!user){
        a.login(href="/user/login") ورود / ثبت نام
      -}else{
        button.userbtn#userbtn 
          i.fa.fa-user.user-icon
          i.fa.fa-chevron-down.down-icon
      -}
    .container
      block content

    footer
      ul
        li
          a(href="/") 
            i.fa.fa-caret-left
            | صفحه اصلی
        li
          a(href="/blog") 
            i.fa.fa-caret-left
            | بلاگ
        li
          a(href="/order/register") 
            i.fa.fa-caret-left
            | ثبت سفارش
        li
          a(href="/about") 
            i.fa.fa-caret-left
            | درباره ما
        li
          a(href="/contact") 
            i.fa.fa-caret-left
            | تماس با ما
      form(action="/")
        h1
          i.fa.fa-envelope-o
          | عضویت در خبرنامه
        input(type="email" name="email" placeholder="آدرس ایمیل خود را وارد کنید")
        input(type="submit" value="ثبت")
      //- h1.phone 
      //-   i.fa.fa-phone
      //-   | 09194624722
      h1.email
        i.fa.fa-envelope
        | shutterproje@gmail.com
      .links
        a(href="https://instagram.com/shutterco_?igshid=1e53c9ne1gp2o")
          img(src="/images/index/instagram.png")
        a(href="http://t.me/shutterco")
          img(src="/images/index/telegram.png")
        a(href="https://twitter.com/Shutterco2?s=09")
          img(src="/images/index/twiter.png")
      h1.down-title شبکه ارتباطی ترجمه